@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(47, 88%, 63%);
  max-width: 1440px;
  font-family: 'Figtree', sans-serif;
}
.main-card{
  width: 350px;
  background-color: hsl(0, 0%, 100%);
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  box-shadow: 6px 10px 5px 0px rgba(0,0,0,1);
-webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,1);
-moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,1);
}
.cover-image img{
  width: 100%;
}
.card-tag{
 display: flex;
 padding: 10px 0px;
}
.card-tag span{
  background-color: hsl(47, 88%, 63%);
  padding: 5px 12px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}
.card-date{
  font-size: 12px;
}
.card-headline{
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
}
.card-headline:hover{
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
.card-text{
  color: hsl(0, 0%, 50%);
}
.card-creator{
  display: flex;
  padding-top: 10px;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.card-creator img{
  width: 40px;
}
/* COMPLETE CARD */